<div>
  <div class="flex items-center justify-between">
    <h1 class="text-primary text-title">Liste des entrepôts</h1>
    <button (click)="addWarehouse()" outlined-button>
      <span>Nouveau</span>
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="mt-4">
    <app-table [config]="config" [loading]="isLoading()" [columns]="columns" [data]="warehouses()">
      <ng-template #actionTemplate let-row>
        <div class="flex items-center space-x-2">
          <button
            (click)="edit(row)"
            outlined-button
            rounded
            color="accent"
            class="inline-flex items-center justify-center cursor-pointer text-red-500 py-2 px-3 rounded-full delete">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="delete(row)"
            outlined-button
            rounded
            color="warn"
            class="inline-flex items-center justify-center cursor-pointer text-red-500 py-2 px-3 rounded-full delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-template>
    </app-table>
  </div>
</div>
